<!-- Thank you for keeping this line in the template :-) //-->
<div style="display: none;"><{$ref_smartfactory}></div>
<!-- Thank you for keeping this line in the template :-) //-->

<div class="imtagging_headertable">
	<{if $imtagging_module_home}>
		<span class="imtagging_modulename"><{$imtagging_module_home}></span>
	<{/if}>
	<{if $imtagging_category_path}>
		<span class="imtagging_breadcrumb">
		<{if $imtagging_module_home}>
			&gt;
		<{/if}>
	  	<{$imtagging_category_path}></span>
	<{/if}>
</div>

<div style="clear: both;"></div>